.activities {
   @include adaptiv-margin-top(137,76);
} 

.activities__row {
   overflow: hidden;
   @include adaptiv-margin-bottom(120,20);
}
.activities__images {
    img{
        max-width: 100%;
    }
}
.activities__content{
    flex: 0 0 100%;
}
.activities__body{
    padding: 30px;
}
.activities__sub-title {
    font-weight: 700;
    @include adaptiv-font(15,12);
    line-height: 100%;
    text-transform: uppercase;
    color: #1E1E1E;
    @include adaptiv-padding-left(69,48);
    @include adaptiv-margin-bottom(46,24);
    position: relative;
    &::before{
        content: '';
        background: url('../img/activities/person.svg') 0 0 no-repeat;
        height: 45px;
        width: 45px;
        position: absolute;
        top: -100%;
        left: 0;
    }
}
.activities__title {
    font-weight: 700;
    @include adaptiv-font(49,30);
    line-height: 123%;
    color: #1E1E1E;
    @include adaptiv-margin-bottom(20,16);

}
.activities__text {
    font-weight: 500;
    @include adaptiv-font(21,16);
    @include adaptiv-margin-bottom(66,32);
    line-height: 155%;
    color: #1A1A1A;
}
.activities__button-wrapper{
    transition: all .3s ease 0s;
    &:hover{
        transform: scale(1.05) translateX(10px);
    }
}
.activities__button {
    font-weight: 700;
    @include adaptiv-font(17,14);
    text-decoration: none;
    line-height: 155%;
    color: #1A1A1A;
    @include adaptiv-padding-top(23,18);
    @include adaptiv-padding-bottom(23,18);
    @include adaptiv-padding-left(37,28);
    @include adaptiv-padding-right(37,28);
    background: #FFD803;
    border-radius: 8px;
}

/****************************************************/
.activities__row-2{
    .activities__sub-title{
        &::before{
        background: url('../img/activities/letter.svg') 0 0 no-repeat;
        }
    }
}
.activities__tabs {
    background: #F6F6F6;
    border-radius: 50px 50px 0px 50px;
    width: 100%;
    padding: 0px 0px 30% 0px;
    
}
.activities__menu {
    @include adaptiv-padding-left(50,20);
    @include adaptiv-padding-top(50,20);
    width: 85%;
    margin-bottom: 30px;
}
.activities__list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 17px;
    span{
        font-weight: 500;
        @include adaptiv-font(19,12);
        color: #000000;
        transition: all .3s ease 0s;
    }
    li{
        @include adaptiv-padding-top(17,11);
        @include adaptiv-padding-bottom(17,11);
        @include adaptiv-padding-right(45,28);
        @include adaptiv-padding-left(45,28);
        background: #FFFFFF;
        border: 1.5px solid #F1F1F1;
        border-radius: 8px;
        transition: all .3s ease 0s;
        cursor: pointer;
    }
}
.js-activities__menu-button{
    &.act_active{
        span{            
            color: #fff;
        } 
        background: #392396;
    }
}
.activities__tabs-body {
    transform: translateX(-10%);
}
.activities__tab-image {
    img{
        max-width: 100%;
    }
    z-index: 2;
    display: none;
    position: absolute;
    &.act_active{
        display: block;
    }
}
/****************************************************/

/****************************************************/
.activities__row-3{
    .activities__sub-title{
        &::before{
        background: url('../img/activities/application.svg') 0 0 no-repeat;
        }
    }
}
/****************************************************/
.activities__row-3 {
    .activities__sub-title{
        &::before{
        background: url('../img/activities/tree.svg') 0 0 no-repeat;
        }
    }
    justify-content: space-between;
}
.activities__auto-menu {
}
.activities__accordion {
    li{
        &.auto_active{
            background: #FFD803;
        }
        margin-bottom: 10px;
        &:last-child{
            @include adaptiv-margin-bottom(59,37);
        }
        border-bottom: 1px solid #EAECF0;
        transition: all .3s ease 0s;
        cursor: pointer;
    }
}
.accordion__item {
    padding: 26px 30px;
}
.accordion__header {
    font-weight: 600;
    @include adaptiv-font(26,21);
    line-height: 123%;
    color: #1A1A1A;
    margin-bottom: 10px;
    padding-left: 49px;    
}
.accordion__header-1{
        background: url('../img/activities/upload.svg') 0 0 no-repeat;
}
.accordion__header-2{
        background: url('../img/activities/naming.svg') 0 0 no-repeat;

}
.accordion__header-3{
        background: url('../img/activities/templates.svg') 0 0 no-repeat;
}
.accordion__body {
    padding-left: 49px;
    font-weight: 500;
    @include adaptiv-font(18,16);
    line-height: 133%;
    color: #1E1E1E;
    opacity: 0.7;
    width: 25em;
}
.activities__auto-tabs {

}
.activities__auto-tabs-image {
    position: relative;
    img{
        max-width: 100%;
    }
    z-index: 2;
    display: none;
    &.auto_active{
        display: block;
    }
}
/****************************************************/
@media (min-width: 1440px) {
    .activities {
        margin-top: 137px;
    }   
    .activities__row{
        margin-bottom: 150px;
    }
    .activities__list {        
        span{
           font-size: 19px;
        }
        li{
            padding: 17px 45px;            
        }
    }
    .accordion__header{
        font-size: 26px;
    }
    .accordion__body{
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .activities__row {
        display: flex;
        align-items: center;
    }
    .activities__content{
        flex: 0 0 50%;
    }    
}
@media (max-width: 768px) {
    .activities__row-4{
        display: grid;
        row-gap: 30px;
        .activities__auto-tabs{
            transform: translateX(5px);
        }
    }
    .activities__row {
        display: flex;
        flex-direction: column;
    }
    .activities__row-1,.activities__row-3{
        .activities__images{
            order: 2;
            transform: translateX(-5px);
        }
        .activities__content{
            order:1;
        }
    }
    .activities__row-2{
        .activities__tabs {
            padding: 0px 0px 69% 0px;
        }
        .activities__tabs-body{
            transform: translateX(0);
        }
    }
    .activities__body{
        padding: 10px 0px 30px 0px;
    }
}
@media (max-width: 616px) {
    .accordion__body{
        width: 100%;
    }
}
@media (max-width: 425px) {
    .activities__sub-title{
        line-height: 15px;
        padding-left: 55px;
    }
}